script.
      var _gaq=[['_setAccount','UA-44959535-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
script(type='text/javascript', src='/lib/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/lib/underscore/underscore-min.js')

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')

//materialize
script(type='text/javascript', src='/lib/materialize/dist/js/materialize.min.js')

//display scripts
script(type='text/javascript', src='/js/display.js')

// React bundle
script(type='text/javascript', src='/js/bundle.js')

//Socket.io Client Library
script(type='text/javascript', src='/socket.io/socket.io.js')

//Livereload script rendered
//script(type='text/javascript', src='http://localhost:35729/livereload.js')