language: node_js

node_js:
  - node
  - 5
  - 4

after_script:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js

services:
  - mongodb

before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
