<div class="answer-section row container">
  <div ng-cloak ng-hide="checkState('canNotPickCard')">
    <div id="cards" class='hand'>
      <span ng-show="winnerPicked()"></span>
      <div class="col s6 m4 l3" ng-style="{'cursor':'pointer'}" ng-click="pickCard(card)" ng-hide="showTable || isCzar()" ng-repeat="card in game.players[game.playerIndex].hand"
        ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
        <div class="card hoverable">
          <div class="card-content valign-wrapper an-answer">
            <p class="valign" ng-bind-html-unsafe="card.text"></p>
            <span ng-show="showFirst(card)"> 1 </span>
            <span ng-show="showSecond(card)"> 2 </span>
          </div>
        </div>
      </div>
      <div ng-repeat="answer in game.table">
        <div class="col s6 m4 l3" ng-style="{'cursor':'pointer'}" ng-click="pickWinning(answer)" ng-show="showTable || isCzar()" ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}" style="background-color:{{winningColor($parent.$index)}}">
          <div class="card hoverable">
            <div class="card-content valign-wrapper an-answer">
              <p class="valign" ng-bind-html-unsafe="card.text"></p>
              <span ng-show="firstAnswer($index)"> 1 </span>
              <span ng-show="secondAnswer($index)"> 2 </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="game.state === 'awaiting players'">
    <h5>INSTRUCTIONS</h5>
    <div>
      <ul>
        <li>Each player begins with, and will always have, 10 white answer cards.</li>
        <li>For each round, one player is randomly chosen as the Card Czar.</li>
        <li>Everyone else answers the black question card by clicking on the answer card they want to use.</li>
        <li>The Card Czar then picks a favorite answer, and whoever played that answer wins the round.</li>
      </ul>
    </div>
  </div>
  <div ng-show="checkState('noGame')">
    <h4 class="center-align">What would you like to do now?</h4>
    <p class="center-align" ng-show="checkState('gameends')">
      You might consider donating to charity to atone for the horrifying answers you've submitted. Donating will also place a lovely
      crown on your avatar's head.
    </p>
    <div class="col s12">
      <a href='/#!/app' class="col offset-l3 l2 btn btn-large app-buttons" ng-click="game.joinGame('joinNewGame')">Join a New Game</a>
      <a href='/' class="btn btn-large col l2 offset-l2">Return to Lobby</a>
    </div>
    <div class="crowdrise-give">
      <a href="http://www.crowdrise.com" id="crowdriseStaticLink-fundraiser-121142" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a>
      <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
    </div>
  </div>
  <div ng-show="isCzar() && checkState('canCzar')">
    <h4 class="center-align">You are the Card Czar</h4>
    <p>Players are choosing their answers. Prepare to select a winner.</p>
    <div class="fact">
      <h4>Did you know?</h4>
      <p class="center-align">{{ makeAWishFact }}</p>
    </div>
  </div>
</div>