<h5>{{game.players.length}} Player(s)</h5>
<div class="row container">
  <div ng-repeat="player in game.players" class="col s6 m4 l2 a_player">
    <div class="valign-wrapper">
      <div class="circle score">{{player.points}}</div>
      <span class="valign">
        {{player.username | upperFirstLetter}}
        <span ng-show="currentCzar($index)">(CZAR)</span>
      </span>
      <span ng-show="isPremium($index)">
        <img ng-src="img/king.png" id="king">
      </span>
      <img class="avi" ng-src="{{player.avatar}}"/>
    </div>
    <i ng-click="addFriend(player.userID)" class="material-icons">add_circle_outline</i>
  </div>
</div>
