<div class="question row container">
  <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>
  <div class="col s4 m2 l2 offset-l5 offset-m5 offset-s4 waiting valign-wrapper" ng-show="game.state === 'awaiting players'">
    <div class="valign">
      <div class="preloader-wrapper big active" >
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <p class="center-align" ng-show="checkState('awaiting-players')">Awaiting Players</p>
    </div>
    <button ng-show="checkState('gameCanStart')" ng-click="startGame()" class="btn btn-large valign app-buttons">START GAME</button>
  </div>
  <div class="waiting valign-wrapper" ng-show="checkState('gameEndPeopleLeft')">
    <p class="center-align" >What the!? The game ended because too many people left! Our sincere apologies.</p>
  </div>
  <div class="waiting valign-wrapper" ng-show="checkState('youWon')">
    <p class="center-align">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</p>
    <p class="center-align">We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself</p>
  </div>
  <div class="waiting valign-wrapper" ng-show="checkState('youLost')">
    <p class="center-align" >Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</p>
    <p class="center-align">That makes you a loser, unfortunately.</p>
  </div>
  <div ng-hide="checkState('gameNotOn')">
    <div class="col s6 m4 l3 offset-l1 offset-s3">
      <div class="card hoverable" id="banner-bg-card">
        <div class="card-content">
          <img src="img/tri_1.png" />
          <h5 class="center-align">
            <span class="app-color-blue">CARDS</span><br/>
            <span class="app-color-red">FOR</span><br/>
            <span class="app-color-green">HUMANITY</span>
          </h5>
          <img class="pull-right" src="img/tri_2.png" />
          <br/>
        </div>
      </div>
      <div class="card hoverable" ng-click="beginNextRound()">
        <div class="card-content">
          <img src="img/tri_1.png" />
          <p class="center-align" ng-if="isCzar() && winningCardPicked">Click here to start next round</p>
          <h5 class="center-align">
            <span class="app-color-blue">CARDS</span><br/>
            <span class="app-color-red">FOR</span><br/>
            <span class="app-color-green">HUMANITY</span>
          </h5>
          <img class="pull-right" src="img/tri_2.png" />
          <br/>
        </div>
      </div>
    </div>
    <div class="col s6 m4 l3 offset-l4 offset-s3">
      <div class="card hoverable">
        <div class="card-content valign-wrapper each-question">
          <p class="valign" ng-bind-html-unsafe="game.curQuestion.text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
