<div id="main_background">
    <!-- Beginning of navigation bar -->
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">
        <img src="img/logo.png"/>
      </a>
      <a id="mobile-menu-icon" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="side-nav" id="mobile-menu">
        <li><a href="signup">SIGN UP/LOGIN</a></li>
        <li><a class="waves-effect waves-light btn" href="#modal1">SIGN IN</a></li>
      </ul>
    </div>
  </nav>
  <!-- End of navigation bar -->

<!-- Landing Start -->
<div class="wpb-teaser parallax-background" id="homer">
  <div id="white"></div> 
  <div class="">
    <div class="row" id="main-text"> 
    <!-- Teaser Text Start -->
    <div id="landing-logo">
      <h2 id="slogan">Sign Up with:</h2>
      <div id="login-buttons">
        <a href="/auth/facebook"><img class="login-item" src="/img/icons/fb.png"></a>
        <a href="/auth/github"><img class="login-item" src="/img/icons/git.png"></a>
        <a href="/auth/twitter"><img class="login-item" src="/img/icons/twit.png"></a>
        <a href="/auth/google"><img class="login-item" src="/img/icons/google.png"></a>
      </div>
      <p id="create">Or create a username/password and select an avatar:</p>
        <div class="row" id="form" >
          <form class="col s12" action="/users" method="post">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" name="name" class="validate" id="name" required>
                <label for="icon_prefix">Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input type="email" name="email" class="validate" id="email" required>
                <label for="icon_email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">lock</i>
                <input type="password" name="password" id="password" class="validate" required>
                <label for="icon_password">Password</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">lock</i>
                <input id="icon_password" type="password" class="validate" required>
                <label for="icon_password">Re-type Password</label>
              </div>
            </div>
            <div id="contain-avatars">
              <ul ng-controller="IndexController" class="avatar-list">
                <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                  <input name="avatar" type='radio' value="{{$index}}">
                    <img ng-src="{{avatar}}">
                  </input>
                </li>
              </ul>
            </div>
            <div class="row">
              <button class="btn waves-effect waves-light center" type="submit" name="action">SIGN UP
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      <!--<div class="sign-body">
        <div class="more-sign">
          <form class="signup form-horizontal" action="/users" method="post">
            <div class="control-group">
              <label for="name" class="control-label"></label>
              <div class="controls">
                <input class="input-info" id="name" type="text" name="name" placeholder="Full name" required novalidate />
              </div>
            </div>
            <div class="control-group">
              <label for="email" class="control-label"></label>
              <div class="controls">
                <input class="input-info" id="email" type="email" name="email" placeholder="Email" required novalidate />
              </div>
            </div>
            <div class="control-group">
              <label for="password" class="control-label"></label>
              <div class="controls">
                <input class="input-info" id="password" type="password" name="password" placeholder="Password" required novalidate />
              </div>
            </div>
            <div id="contain-avatars">
              <ul ng-controller="IndexController" class="avatar-list">
                <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                  <input name="avatar" type='radio' value="{{$index}}">
                    <img ng-src="{{avatar}}">
                  </input>
                </li>
              </ul>
            </div>
            <div class="form-actions">
              <button id="sign-up-btn-other" type='submit'>Sign Up</button>
            </div>
          </form>
        </div>
      </div>-->
    </div>
    </div>
    </div>
  </div>
</div>



