<div id="main_background">
  <!-- Beginning of navigation bar -->
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">
        <img src="img/logo.png" />
      </a>
      <a id="mobile-menu-icon" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="side-nav" id="mobile-menu">
        <li><a href="signup">SIGN UP/LOGIN</a></li>
        <li><a class="waves-effect waves-light btn" href="#modal1">SIGN IN</a></li>
      </ul>
    </div>
  </nav>
  <!-- End of navigation bar -->

  <!-- Landing Start -->
  <div class="wpb-teaser parallax-background" id="homer" ng-controller="IndexController">
    <div class="row">
      <h3>SIGN IN</h3>
      <div class="col s6">
        <div ng-show="showError() === 'invalid'">
          <p id="error">Please check your username/password and try again.</p>
        </div>
        <form class="col s12" action="/users/session" method="post">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input id="icon_email" name="email" type="email" class="validate" required>
              <label for="icon_email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input id="icon_lock" name="password" type="password" class="validate" required>
              <label for="icon_lock">Password</label>
              <button class="btn waves-effect waves-light right" type="submit">LOG IN
                  <i class="material-icons right">send</i>
                </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col s6" id="route">
        <button class="btn waves-effect waves-light left" type="submit" name="action" id="fb">
          <a href="/auth/facebook"><i class="fa fa-facebook" aria-hidden="true"></i> FACEBOOK</a>
        </button>
        <button class="btn waves-effect waves-light left" type="submit" name="action" id="twit">
              <a href="/auth/twitter"><i class="fa fa-twitter" aria-hidden="true"></i> TWITTER</a>
            </button>
        <button class="btn waves-effect waves-light left" type="submit" name="action" id="google">
              <a href="/auth/google"><i class="fa fa-google" aria-hidden="true"></i> GOOGLE</a>
            </button>
        <button class="btn waves-effect waves-light left" type="submit" name="action" id="git">
              <a href="/auth/github"><i class="fa fa-github" aria-hidden="true"></i> GITHUB</a>
            </button>
      </div>
    </div>
  </div>