body {
  font-family: "Roboto";
}
#main_background {
  background: url('../img/bg_card.png');
  background-attachment: fixed;
}
a:hover {
  border-radius:none;
}
nav {
  background: #D7DCE2;
}
nav li a {
  color:#000;
}

nav li a:hover {
  background:#A1232E;
  color:#fff;
}
#mobile-menu-icon {
  color:#000;
}
.section {
  margin-bottom: 40px;
  padding: 20px 0;
}
.section:last-of-type {
  margin-bottom: 0;
}
#banner, #charity {
  background: #FAFAFA;
}
.pull-right {
  float:right;
}
.card-content h5 {
  line-height: 40px;
}
.app-color-blue {
  color:#4575B5;
}
.app-color-red {
  color: #A1232E;
}
.app-color-green {
  color: #4F914A;
}
#banner-bg-card{
  transform: rotate(345deg);
  margin:20px 0 -227px 0;
}
.brief-text {
  line-height: 30px;
  text-align: justify;
}
.inline-link {
  color: #A1232E;
}
.inline-link:hover {
  font-weight: bold;
  color: #4575B5
}
#how-to-play, footer {
  background: #E9E9E9;
}
#how-to-play .card {
  height:250px;
}
#how-to-play .card:hover {
  transform: scale(1.05, 1.05);
  transition:0.5s;
}
.quote{
  font-weight: bold;
}
.app-buttons {
  background: #A1232E;
  color: #fff;
}
.app-buttons:hover {
  background: #4575B5;
  color:#fff;
}
#give-card .card {
  height:250px;
}
#give-card .card {
  background-image: url('../img/love.png');
  background-size: 100%;
  background-position:0 31px;
  background-repeat: no-repeat;
}
#give-card .card .card-content {
  width:100%;
}
#give-card .bg-card {
  margin-bottom: -250px;
  transform-origin: bottom left;
}
#give-card #bg1 {
  transform: rotate(350deg);
}
#give-card #bg2 {
  transform: rotate(355deg);
}
#play-action {
  bottom:45px;
  right: 30px;
}
#play-action a{
  background-color: #A1232E;
}
@media screen and (min-width: 600px) {

}
@media screen and (min-width: 992px) {
  #banner-bg-card{
    margin:60px 0 -227px 0;
  }
}